<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<script src="angular/angular.js"></script>
		<script src="angular-route/angular-route.js"></script>
		<script src="ngstorage/ngStorage.js"></script>
		<script type="text/javascript">
			var myApp = angular.module("myApp", ["ngRoute, ngStorage"])

			myApp.config(function($routeProvider){
				$routeProvider
					.when("/route", {
						templateUrl: "partials/partial1.html"
					})
					.otherwise({
						redirectTo: "/route"
					})
			})

			myApp.factory("genericFactory", function($http){
				var factory = {}

					factory.index = function(callback){
						$http.get("/url/path/tk")
							.then(function(output){
								var documents = output
								callback(documents)
							})
					}

				return factory
			})

			myApp.controller("genericController", function($scope, $sessionStorage, genericFactory){

				function documentList (){
					genericFactory.index(function(data){
						$scope.documents = data.data
					})
				}

				$scope.addDocument = function(){
					// factory function here
				}
			})
		</script>
	</head>
	<body ng-app="myApp">
		<a href="#/partial1.html">Partial1</a> <-- Links to partials start with #
		<div ng-view="">
		</div>
	</body>
</html>